@model WebQLPT.Models.DangTin

@{
    ViewData["Title"] = "Chi Tiết Tin";
}

<h1>📄 Chi Tiết Tin Đăng</h1>

<div>
    <h4>Thông Tin Tin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tiêu Đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            Nội Dung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            Giá
        </dt>
        <dd class = "col-sm-10">
            @Model.Gia.ToString("N0") VNĐ
        </dd>
        <dt class = "col-sm-2">
            Hình Ảnh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            Ngày Đăng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            Phòng Trọ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongTro.Id)
        </dd>
        <dt class = "col-sm-2">
            Chủ Trọ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuTro.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">✏️ Chỉnh Sửa</a> |
    <a asp-action="Index">← Quay Lại Danh Sách</a>
</div>
